/* footer 시작 */
#contact{
    background: linear-gradient(rgb(248, 242, 187),#f3d3d3);
}
.contact_all{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
    margin-top: 3em;
    font-size: 15pt;
    
}
.contact_box {

    gap: 5rem;
    padding: 1rem;
    margin-top: 3em;
    background: rgb(255, 226, 255);
    border-radius: 50px;

}