@media all and (max-width: 990px) {
    .section {
        padding: 3rem 2rem;
    }
    .title{
        font-size: 2rem;
    }
    .description {
        font-size: 1rem;
    }
    .home {
        padding: 3rem;
     }
     .home_title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    
    /* header 부분*/
    .header {
        width: 100%;
        flex-flow: column;
        align-items: start;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .header_nav {
        width: 100%;
        justify-content: center;
    }
    .header_menu {
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 1rem 4rem;
        gap: 1rem;
    }
    .header_menu.open {
        display: flex;
    }
    
    .hamburger {
        display: block;
        color: var(--color-white);
        font-size: 1.5rem;
        position: absolute;
        top: 1.4rem;
        right: 1rem;
        border: 0;
    }
    /* about 부분*/
    .about_box {
        min-width: 500px;
        display: grid;
        grid-template-rows: 500px 700px;
        grid-template-columns: 500px;
        grid-template-areas:
        'a'
        'b';
        justify-content: center;
    }
    .about_content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .box_profile_right{
        grid-area: b;
        position: relative;
        clear: both;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-areas: 
            "c"
            "d"
            "e";
        grid-template-columns: 500px;
        grid-template-rows: 300px 150px 250px;
    }
    .right_text{
        margin-top: 0;
        grid-area: c;
        width: 500px;
        height: 300px;
        line-height: 30px;
        font-size: 12.5pt;
        text-align: center;
        font-family: 'IBM Plex Sans KR', sans-serif;
        padding: 50px 0 0 0;
    }
   

    /* skills 부분*/
    .skills_content {
        display: grid;
        width: 100%;
        grid-template-rows:1fr;
        grid-template-columns: 1fr;
        margin: 2rem auto;
        grid-template-areas:
        "a"
        "b"
        "c";
      
    }
    .skills_icon{
        width: 300px;
        height: 72px;
        margin: 0 auto;
    }
    
    .skills_coding{
        grid-area: a;
        padding: 1rem;
        background-color:rgba(255, 255, 255, 0.5);
        border-radius: 1rem;

    }

    .skills_tools {
        grid-area: b;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.5);
        filter: brightness(100%);
        border-radius: 1rem;
        margin-top: 10px;
        width:100%;
        
    }
    .skills_etc {
        grid-area: c;
        padding: 1rem;
        background-color: var(--color-primary);
        filter: brightness(100%);
       
    }
    /* My Work */
    .category {
        display: flex;
        flex-flow:column nowrap;
        justify-content: center;
        background: transparent;
    }

    .category_button {
        width: 100%;
    }
    /* project 8개 시작 */
    .project_all{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1rem;
    }
    /*Testimonial */
    .testimonial_each {
        display: flex;
        flex-direction: column; 
    }

    .testimonial_each:nth-child(even) .testimonial_img{
        order: 0;
    }

    /* Top 버튼*/
    .arrow_up {
        right: 1rem;
        bottom: 1rem;
        transform: scale(0.8);
}

.section_title{
    font-size: 80px;
    margin-bottom: 1rem;
}

.age_email{
    grid-area: d;
    clear: both;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 30px 0 0 0;
    text-align: center;
    float: none;
}


.myskills {
    grid-area: e;
    width: 500px;
    margin: 30px 0 0 15px;
}


.myskills > h3 {
    margin: 0 auto;
    
}

.box_profile_left{
    grid-area: a;
    width: 100%;
    padding: 0;
    height: 500px;
}

.profile_img {
    height: auto;
    margin: 0 auto;
}
.profile_headline {
    width: 100%;
    margin: 0;
}

.profile_headline {
    width:500px;
    height:150px;
    padding: 20px 0 20px 0;
    text-align: center;
    justify-content: center;
}

.photo{
    display: flex;
    justify-content: space-between;
   
}
}